<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<!-- css link -->
	<link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css"></link>
	
	<link rel="stylesheet" href="lib/angular-material.min.css"></link>
	<link rel="stylesheet" href="css/app.css"></link>
	
	<link rel="stylesheet" href="css/index.css"></link>
</head>
<body ng-app="app">
	K21

	<!-- Navigator -->
	<div ng-controller="navigatorController" ng-init="getAllMenus();">
		<ul class="nav nav-pills">
			<li data-toggle="tab" ng-repeat="menu in menus"><a href="#{{menu.url}}">{{menu.name}}</a></li>
		</ul>
		
		
		<md-button class="md-primary md-raised" ng-click="showConfirm($event)" >
      Confirm Dialog
    </md-button>
		
		
	</div>




	
	
	<!-- View -->
	<div ng-view></div>
	
	
	
	
	
	
	
	<script src="lib/jquery.min.js"></script>
	
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	
	<script src="lib/bootstrap/bootstrap.min.js"></script>

	<script src="lib/angular-animate.min.js"></script>
	<script src="lib/angular-aria.min.js"></script>
	<script src="lib/angular-material.min.js"></script>
	
	<!-- My script -->
	<script src="js/app.js"></script>
	
	<script src="js/service/navigatorService.js"></script>
	<script src="js/controller/navigatorController.js"></script>
	
	<script src="js/service/thethaoService.js"></script>
	<script src="js/controller/thethaoController.js"></script>
	
	
</body>
</html>